@page
@model eCapitalAssignment.Pages.UpsertModel
@{
    string pageTitle = Model.Employee == null ? "Add New Employee" : "Update Exist Employee";
    ViewData["Title"] = pageTitle;
}
<div class="row">
    <div class="col-lg-8 mx-auto mb-3">
        <form method="post" enctype="multipart/form-data" class="container border rounded-3 pt-5 mb-5">
            <div class="row mb-5">
                <h3 class="fw-bold">@pageTitle</h3>
            </div>
            <div class="row mb-5">
                <div class="col-4 col-xl-2">
                    <label class="form-label" asp-for="@Model.Employee.FirstName">
                        @Html.DisplayNameFor(model => model.Employee.FirstName) <span class="required">*</span>
                    </label>
                </div>
                <div class="col-8 col-xl-10">
                    <input type="text" class="form-control" asp-for="@Model.Employee.FirstName" placeholder="@Html.DisplayNameFor(model => model.Employee.FirstName)" required>
                    <span asp-validation-for="@Model.Employee.FirstName" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-4 col-xl-2">
                    <label class="form-label" asp-for="@Model.Employee.LastName">
                        @Html.DisplayNameFor(model => model.Employee.LastName) <span class="required">*</span>
                    </label>
                </div>
                <div class="col-8 col-xl-10">
                    <input type="text" class="form-control" asp-for="@Model.Employee.LastName" placeholder="@Html.DisplayNameFor(model => model.Employee.LastName)">
                    <span asp-validation-for="@Model.Employee.LastName" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-4 col-xl-2">
                    <label class="form-label" asp-for="@Model.Employee.Salary">
                        @Html.DisplayNameFor(model => model.Employee.Salary) <span class="required">*</span>
                    </label>
                </div>
                <div class="col-8 col-xl-10">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" asp-for="@Model.Employee.Salary" placeholder="60,000">
                    </div>
                    <span asp-validation-for="@Model.Employee.Salary" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col text-center">
                    <button class="btn btn-primary" type="submit">
                        <span>@(Model.Employee == null ? "Add Employee" : "Update Employee")</span>
                    </button>
                    <a class="btn btn-outline-secondary" role="button" href="/">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $('.input-validation-error').first().focus();
        });
    </script>
}